<?xml version="1.0" encoding="UTF-8"?>
<server description="system">

    <featureManager>
        <platform>jakartaee-11.0</platform>
        <platform>microprofile-7.0</platform>
        <feature>cdi</feature>
        <!-- tag::concurrent[] -->
        <feature>concurrent</feature>
        <!-- end::concurrent[] -->
        <feature>jsonb</feature>
        <feature>mpOpenAPI</feature>
        <feature>restfulWS</feature>
        <feature>websocket</feature>
    </featureManager>

    <variable name="http.port" defaultValue="9080"/>
    <variable name="https.port" defaultValue="9443"/>

    <httpEndpoint id="defaultHttpEndpoint" host="*"
                  httpPort="${http.port}"
                  httpsPort="${https.port}" />

    <webApplication contextRoot="/" location="guide-jakarta-concurrency.war"/>

    <logging consoleLogLevel="INFO"/>

</server>