<?xml version="1.0" encoding="UTF-8"?>
<server description="Sample Liberty server">

    <featureManager>
        <platform>jakartaee-10.0</platform>
        <platform>microprofile-7.0</platform>
        <feature>cdi</feature>
        <!-- tag::concurrent[] -->
        <feature>concurrent</feature>
        <!-- end::concurrent[] -->
        <feature>jsonb</feature>
        <feature>mpConfig</feature>
        <feature>mpOpenAPI</feature>
        <feature>mpRestClient</feature>
        <feature>persistence</feature>
        <feature>restfulWS</feature>
    </featureManager>

    <variable name="http.port" defaultValue="9081" />
    <variable name="https.port" defaultValue="9444" />

    <httpEndpoint id="defaultHttpEndpoint" host="*"
                  httpPort="${http.port}"
                  httpsPort="${https.port}" />

    <library id="derbyJDBCLib">
        <fileset dir="${shared.resource.dir}/" includes="derby*.jar" />
    </library>

    <dataSource id="DefaultDataSource" jndiName="jdbc/inventoryDS">
        <jdbcDriver libraryRef="derbyJDBCLib" />
        <properties.derby.embedded databaseName="InventoryDB" createDatabase="create" />
    </dataSource>
    
    <webApplication contextRoot="/" location="guide-concurrency-intro-inventory.war" />

    <logging consoleLogLevel="INFO"/>

</server>